@import './normalize'


$mine-shaft = #232323
$whiskey = #D29069

tablet = 700px

above(width)
  @media screen and (min-width: width)
    {block}

@import './lib/*'

body
  font-family 'Roboto Condensed', sans-serif
  color $mine-shaft

p
  font-size 16px
  line-height 25px

.primary-color
  color $whiskey

.project-header
  +above(tablet)
    display flex
    justify-content space-between
  
