@import './normalize'

@font-face
  font-family 'Work Sans'
  font-style normal
  src url(../fonts/WorkSans-Regular.ttf)

@font-face
  font-family 'Work Sans'
  font-style normal
  font-weight bold
  src url(../fonts/WorkSans-Bold.ttf)

@font-face
  font-family 'Reglo'
  font-style normal
  font-weight bold
  src url(../fonts/Reglo-Bold.ttf)

$mine-shaft = #232323
$whiskey = #D29069

tablet = 700px

above(width)
  @media screen and (min-width: width)
    {block}

@import './lib/*'

body
  font-family 'Work Sans', sans-serif
  color $mine-shaft

p
  font-size 16px
  line-height 25px

.primary-color
  color $whiskey

.project-header
  +above(tablet)
    display flex
    justify-content space-between
  
