header.project-header
  .project-header__client
    h1.project-header__title.primary-color Client
    h2.project-header__title Project Name
  .project-header__author
    h3.project-header__title.primary-color Ivan Cruz
    h4.project-header__title May 30, 2016

