.storyboard__image
  padding-bottom 55%
  width 100%
  background-size cover
  background-position center

.storyboard__row
  overflow hidden

.storyboard__col
  +above(tablet)
    width 47.5%
    float left
    margin 1.25%