.project-overview
  +above(tablet)
    display flex
  
  h5
    font-size 18px

.project-overview__details
  flex-basis 30%
  padding-right 50px
  
  strong
    display block
    padding-right 10px
  
  tr
    padding-bottom 10px

.project-overview__brief
  flex-basis 70%