.styleframes__row
  overflow hidden

.styleframes__col
  +above(tablet)
    float left
    width 50%

.styleframes__image
  padding-bottom 65%
  width 100%
  background-size cover
  background-position center